# Build artifacts
build/
bin/
cmake-build-*/
*.o
*.a
*.so
*.exe
sentinel-cli

# IDE
.idea/
.vscode/
*.swp

# Runtime data
evidences/
*.db
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db
third_party/
.cache/
.idea/editor.xml
